# Auto detect text files and perform LF normalization
* text=auto

# Ensure that shell scripts have LF line endings in the repository
*.sh eol=lf

# Python files should use LF line endings in the repository
*.py eol=lf