<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Jogos em Destaque</title>
</head>
<body>
    <h1>Jogos em Destaque</h1>
    <div id="games-container">
        {% for game in games %}
        <div class="game" data-index="{{ loop.index0 }}">
            <h2>{{ game.name }}</h2>
            <img src="{{ game.image }}" alt="{{ game.name }}">
            <div class="game-categories">
                <strong>Categorias:</strong> {{ game.categories | join(', ') }}
            </div>
            <div class="game-description">
                <strong>Sobre:</strong> {{ game.description }}
            </div>
            <button onclick="launchGame({{ loop.index0 }})">Iniciar Jogo</button>
        </div>
        {% endfor %}
    </div>
    <script src="./../static/js/script.js"></script>
</body>
</html>
