<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Tela do Jogo</title>
</head>
<body>
    <header class="header-telajogo">
        <a href="./index.html"><img class="home" src="../static/images/homeicon.png" alt="Icone Home"></a>
        <img class="logo" src="../static/images/logo.png" alt="Logo da MVP">
    
    </header>
    <main>
        <h1>Stardew Valley</h1>
        <section class="preview">
            <div class="img-std-fundo">
                <img src="../static/images/fundo-stardew-valley.png" alt="Imagem mostrando o jogo">
            </div>
            <img class="capajogo" src="../static/images/capa-stardewvalley.png" alt="Capa do jogo">
        </section>
        <section class="sect-in-jogo">
            <div class="tags-btn">
                <div class="tags">
                    <p>Indie</p>
                    <p>Casual</p>
                    <p>RPG</p>
                </div>
                <div>
                    <button class='btn-jogo' id="btn-jogar">Jogar</button>
                    <button class='btn-jogo' id="btn-review">Fazer Review</button>
                    <div id="myModal" class="modal">
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <img class="logo-modal" src="../static/images/logo.png" alt="Logo da MVP">
                            <img class="qrcode" src="../static/images/qrcode.png" alt="Qr Code">
                            <p class="modal-frase">Para deixar o seu review, leia o Qr Code!</p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="injogo">
                <div class="estrelas">
                    <p>Nota média</p>
                    <img src="../static/images/star.png" alt="Imagem Estrela">
                    <img src="../static/images/star.png" alt="Imagem Estrela">
                    <img src="../static/images/star.png" alt="Imagem Estrela">
                    <img src="../static/images/star.png" alt="Imagem Estrela">
                    <img src="../static/images/star.png" alt="Imagem Estrela">
                </div>
                <p class="txt-amarelado espacamento"><span>500</span> horas jogadas</p>
                <p class="txt-amarelado espacamento">Jogado <span>45</span> vezes nos últimos 30 dias</p>
            </div>   

            
        </section>

        <section class="sobre-jogo">
            <p class="txt-amarelado" id="p-titulo-sobre">Sobre</p>
            <img  class="linha-sobre" src="../static/images/Line 1.png" alt="Linha">
            <br/>
            <p id="p-sobre">
                Stardew Valley é um RPG sem fim da vida no campo! Você herdou a antiga fazenda de seu avô no Vale do Orvalho. Equipado com ferramentas de segunda mão e algumas moedas, você irá começar sua nova vida. Será que você consegue aprender a viver da terra e transformar esses campos absurdamente vegetados em uma casa próspera? Não vai ser fácil. Desde que Corporação Joja veio à cidade, os antigos modos de vida quase desapareceram. O Centro Comunitário, uma vez o lugar mais visitado da cidade,agora está em ruínas. Mas o vale parece cheio de oportunidades. Com um pouco de dedicação, você pode ser a pessoa que restaurará a grandeza do Vale do Orvalho!
            </p>
            <br>
            <img  class="linha-sobre" src="../static/images/Line 1.png" alt="Linha">
        </section>
        <section class="sugestoes">
            <p>Se você gostou de Stardew Valley, também vai gostar de</p>
            <div>
                <button><img class="seta-btn" src="../static/images/btn-voltar.png" alt="Botão para voltar as sugestões"></button>
                <button><img class="seta-btn" src="../static/images/btn-ir.png" alt="Botão para ir para as próximas sugestões"></button>
            </div>

        </section>
        <section class="jogos-sugestoes">
            <img src="../static/images/persona.png" alt="Capa Persona">
            <img src="../static/images/formula1.png" alt="Capa Formula 1 24">
            <img src="../static/images/futebol24.png" alt="Capa Fifa 24">
            <img src="../static/images/persona.png" alt="Capa Persona">
            <img src="../static/images/formula1.png" alt="Capa Formula 1 24">
            <img src="../static/images/futebol24.png" alt="Capa Fifa 24">
            <img src="../static/images/persona.png" alt="Capa Persona">
            <img src="../static/images/formula1.png" alt="Capa Formula 1 24">
            <img src="../static/images/futebol24.png" alt="Capa Fifa 24">
            <img src="../static/images/persona.png" alt="Capa Persona">
            <img src="../static/images/formula1.png" alt="Capa Formula 1 24">
            <img src="../static/images/futebol24.png" alt="Capa Fifa 24">
            <img src="../static/images/persona.png" alt="Capa Persona">
            <img src="../static/images/formula1.png" alt="Capa Formula 1 24">
            <img src="../static/images/futebol24.png" alt="Capa Fifa 24">
        
        </section>
        <section class="review">
            <p class="tituloreview">Avaliações de outros jogadores</p>
            <div>
                <div class="div-review">
                    <img class="profile-img" src="./assets/profile.png" alt="">
                    <div class="div-comentario">
                        <p>Anônimo</p>
                    <p>
                        Hella fun farm game! You never get bored! Have it on multiple platforms and I just keep playing!!
                    </p>
                    <img class="stars5" src="./assets/5stars.png" alt="">
                    </div>
                </div>
                <div class="div-review">
                    <img class="profile-img" src="./assets/profile.png" alt="">
                    <div class="div-comentario">
                        <p>Anônimo</p>
                        <p>
                            Hella fun farm game! You never get bored! Have it on multiple platforms and I just keep playing!!
                        </p>
                        <img class="stars5" src="./assets/5stars.png" alt="">
                    </div>
                </div>
            </div>
        </section>

    </main>
</body>
<script src="../static/js/script.js"></script>
</html>